@model House_Rent.Models.ViewModel.AdminUser
@{
    Layout = null;
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <span class='fa fa-edit'></span> تعديل
        </h6>
    </div>
    <div class="card-body">

        @using (Ajax.BeginForm("Edit", "AdminUsers", new { area = "Admin" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "", @id = "formCreate", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2"></label>
                <div class="col-md-4">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail rounded-circle"  style="width: 150px; height: 150px;">
                            <img src="@Model.UserImage" />
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 10px;"></div>
                        <div>
                            <span class="btn btn-file btn-success">
                                <span class="fileinput-new"> اختر صورة </span>
                                <span class="fileinput-exists"> تغيير </span>
                                <input type="hidden" value="" name="name"><input type="file" accept="image/*" name="image">
                            </span>
                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewBag.roleList, "Select Role", new { @class = "form-control m-input" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="btnSave"><span class="fa fa-save"></span> حفظ </button>
                <button type="reset" class="btn btn-warning" id="btnClear"><span class="fa fa-broom"></span> مسح </button>
                <button type="button" onclick="$('#cpHolder').hide('slow');" class="btn btn-danger" id="btnClose"><span class="fa fa-times-circle"></span> اغلاق </button>
            </div>
        }
    </div>
</div>
<script>
    $().ready(function () {
        $('form').submit(function () {
            $.validator.unobtrusive.parse('form');
        });
    });
</script>