@model House_Rent.Models.House

@{
    ViewBag.Title = "OwnerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Margaret Stone</h1>
                    <span class="color-text-a">Agent Immobiliari</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Agents</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Margaret Stone
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<!--/ Agent Single Star /-->
<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="agent-avatar-box">
                            <img src="img/agent-7.jpg" alt="" class="agent-avatar img-fluid">
                        </div>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="agent-info-box">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d">
                                        Margaret Stone
                                        <br> Escala
                                    </h3>
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <p class="content-d color-text-a">
                                    Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                                    Vivamus suscipit tortor
                                    eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat.
                                </p>
                                <div class="info-agents color-a">
                                    <p>
                                        <strong>Phone: </strong>
                                        <span class="color-text-a"> +54 356 945234 </span>
                                    </p>
                                    <p>
                                        <strong>Mobile: </strong>
                                        <span class="color-text-a"> 999 123 456 789</span>
                                    </p>
                                    <p>
                                        <strong>Email: </strong>
                                        <span class="color-text-a"> agents@example.com</span>
                                    </p>
                                    <p>
                                        <strong>skype: </strong>
                                        <span class="color-text-a"> Margaret.Es</span>
                                    </p>
                                    <p>
                                        <strong>Email: </strong>
                                        <span class="color-text-a"> agents@example.com</span>
                                    </p>
                                </div>
                            </div>
                            <div class="socials-footer">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="title-box-d">
                    <h3 class="title-d">Properties</h3>
                </div>
            </div>
            <div class="row property-grid grid">
                <div class="col-sm-12">
                    <div class="grid-option">
                        <form>
                            <select class="custom-select">
                                <option selected>All</option>
                                <option value="1">New to Old</option>
                                <option value="2">For Rent</option>
                                <option value="3">For Sale</option>
                            </select>
                        </form>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="img/property-8.jpg" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            204 Mount
                                            <br /> Olive Road Two
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">rent | $ 12.000</span>
                                    </div>
                                    <a href="#" class="link-a">
                                        Click here to view
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Area</h4>
                                            <span>
                                                340m
                                                <sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Beds</h4>
                                            <span>2</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Baths</h4>
                                            <span>4</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Garages</h4>
                                            <span>1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="img/property-10.jpg" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            204 Mount
                                            <br /> Olive Road Two
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">rent | $ 12.000</span>
                                    </div>
                                    <a href="#" class="link-a">
                                        Click here to view
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Area</h4>
                                            <span>
                                                340m
                                                <sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Beds</h4>
                                            <span>2</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Baths</h4>
                                            <span>4</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Garages</h4>
                                            <span>1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Agent Single End /-->

<div>
    <h4>House</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host.UserImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host.UserImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseType.HouseTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseType.HouseTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HousePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
