@model IEnumerable<House_Rent.Models.Booking>
@using House_Rent.Models;

@{
    ViewBag.Title = "My Bookings";
}
<div class="container content-body">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 form-group">
                <div class="card">
                    <img src="~/Content/Uploads/Images/Houses/@item.House.HouseImage" class="card-img-top" alt="@item.House.HouseImage">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title">@item.House.HouseName</h5>
                            </div>
                            <div>
                                <div>
                                    <span class="badge badge-warning">

                                        <span class="badge badge-@(item.BookingStatusID == 1 ? "warning" : item.BookingStatusID == 2 ? "success" : item.BookingStatusID == 3 ? "secondary" : item.BookingStatusID == 4 ? "primary" : "danger")">@item.BookingStatus.BookingStatusName</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">@item.House.HouseAddress</p>
                        <div class="d-flex justify-content-between">
                            <p class="card-title">Request Date </p>
                            <p class="card-text">@item.House.CreatedOn.Value.ToString("dd/mm/yyyy")</p>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    From @item.BookingCheckIn.Value.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    To @item.BookingCheckOut.Value.ToString("dd/MM/yyyy")
                                </td>
                            </tr>
                            @foreach (HouseFeatures houseFeatures in item.House.HouseFeatures.ToList())
                            {
                                <tr>
                                    <td>
                                        @houseFeatures.Feature.FeatureName
                                    </td>
                                    <td>
                                        @houseFeatures.FeatureValue
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="card-body">
                        <a href="/Booking/Delete/@item.BookingID" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>